* {
    box-sizing: border-box;
}


/* FONTS  */

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}


/* BASE  */

html {
    font-family: lato;
    color: #606060;
    /* font-size: 12px; */
}

body {
    margin: 0%;
    font-size: 0.78rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0 0 1em;
}

h2 {
    font-family: lato-bold;
    font-size: 1.75em;
    line-height: 1em;
    text-transform: uppercase;
    color: #4f4e4e;
}


/* LAYOUT */

.main-layout {
    max-width: 400px;
    margin: 0 auto;
}

.card-container {
    padding-top: 5em;
}


/* HEADER+ NAV BAR  */

.main-header {
    height: 7.825em;
    background-color: #292929
}

.flex-grow1 {
    flex-grow: 1;
}

.main-nav li {
    line-height: 7.5em;
    width: 130px;
    text-align: center;
}

.main-nav li:first-child {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.main-nav li:last-child {
    border-left: solid 1px black;
}

.main-nav li:nth-child(even) {
    border-right: solid 1px black;
}

.main-nav a {
    color: #ffffff;
    font-family: lato-bold;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: solid 5px transparent;
}

.main-nav a:hover {
    color: #58c93a;
    border-bottom: solid 5px #58c93a;
}

.menu-btn {
    cursor: pointer;
    background-color: rgba(228, 224, 218, 0.822);
}


/* card */

.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding: 0 10px;
}

.card>* {
    flex-basis: 50%;
}

.card-image {
    width: 100%;
    margin-bottom: 2em;
}

.card-details {
    width: 100%;
}

.more-info-btn {
    height: 2.2rem;
    border-radius: 50px;
    font-family: lato-bold;
    color: #c2c1c1;
    background-color: white;
    cursor: pointer;
    border: 2px solid #c2c2c2;
    outline-style: none;
    position: relative;
    margin-top: 0.8em;
    margin-bottom: 1.8em;
    align-self: flex-start;
    padding: 0 2em;
    transition: padding .3s;
}

.more-info-btn span {
    display: none;
}

.more-info-btn:hover::after {
    content: " →";
    position: absolute;
    right: 1em;
}

.more-info-btn:hover {
    padding-inline-end: 3em;
    color: #58c93a;
    border: 2px solid #58c93a;
}


/* PAGES NAVIGATION */

.page-navigation {
    height: 4.375em;
}

.page-btn {
    background-color: transparent;
    border: none;
    outline-style: none;
    color: #818181;
    font-family: lato-bold;
    font-size: 1.125em;
    cursor: pointer;
}


/* FOOTER */

.main-footer {
    background-color: #f8f8f8;
    border: 1px solid #e1e0e0;
}

.footer-container {
    height: 100%;
}

.footer-container img {
    margin-top: 5rem;
    margin-bottom: 2em;
}

.footer-container small {
    margin-bottom: 2em;
}

.rights-txt {
    color: #a6a6a6;
    font-size: 0.8125em;
}

.rights-txt span {
    font-family: lato-bold;
    color: #939292;
}


/* ICONS */

.fa {
    padding: 8px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin-inline-end: 5px;
    margin-bottom: 5rem;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* HELPERS  */


/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-items-center {
    align-items: center;
}

.flex.justify-content-center {
    justify-content: center;
}

.flex.flex-direction-cul {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}


/* list-helpers */

.list-clean {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media(max-width:760px) {
    .main-nav {
        position: fixed;
        top: 11.9%;
        right: 20%;
        height: 24.9rem;
        background-color: #aeaeaef7;
        flex-direction: column;
        transform: translatey(-130%);
        font-size: 1em;
        overflow: hidden;
        transition: transform .2s;
    }
    .main-header {
        position: fixed;
        height: 5.825em;
        width: 100%;
    }
    .nav-container {
        position: relative;
    }
    .main-nav li {
        width: 20.225rem;
        border-bottom: black solid 1px;
    }
    .card-container {
        /* margin-bottom: 5em; */
    }
    body.open-menu .main-nav {
        transform: translatey(0);
    }
}

@media (min-width: 760px) {
    body {
        font-size: 0.75rem;
    }
    .main-layout {
        max-width: 680px;
    }
    .card {
        flex-direction: row;
        padding: 0;
        padding-bottom: 5rem;
    }
    .card-image {
        width: 50%;
        margin-bottom: 0;
    }
    .card-details {
        padding-left: 2.5em;
    }
    .page-navigation {
        border: 1px solid #e1e0e0;
    }
    .more-info-btn {
        margin: 0;
    }
    .card-container {
        border-left: 1px solid #e1e0e0;
        border-right: 1px solid #e1e0e0;
    }
}

@media(min-width:960px) {
    body {
        font-size: 1rem;
    }
    .main-layout {
        max-width: 980px;
    }
    .card-details {
        padding-right: 1.25em;
    }
}