* {
    box-sizing: border-box;
}


/* FONTS  */

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}


/* BASE  */

html {
    font-family: lato;
    color: #606060;
    /* font-size: 12px; */
}

body {
    margin: 0%;
    font-size: 0.90rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0 0 1em;
}

h2 {
    font-family: lato-bold;
    font-size: 1.75em;
    line-height: 1em;
    text-transform: uppercase;
    color: #4f4e4e;
}

.modal {
    position: relative;
    /* max-width: 50%; */
    background-color: rgb(236 232 227 / 69%);
    max-width: 50%;
    padding: 1em;
    display: none;
}

.modal h2 {
    font-size: 1em;
}

.modal p {
    margin: 0 0 1em;
}

.modal label {
    font-size: 1.05em;
    margin: 0 0 0.75em;
    font-family: lato-bold;
}

input[type="email" i] {
    font-family: lato-bold;
    width: 75%;
}

.register-btn {
    font-family: lato;
    cursor: pointer;
    padding: 0 2em;
    align-self: center;
    margin-left: 0.75em;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}


/* LAYOUT */

.main-layout {
    max-width: 400px;
    margin: 0 auto;
}

.card-container {
    padding-top: 5em;
}


/* HEADER+ NAV BAR  */

.main-header {
    background-color: #292929;
}

.flex-grow1 {
    flex-grow: 1;
}

.main-nav li {
    text-align: center;
}

.main-nav li:first-child {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.main-nav li:last-child {
    border-left: solid 1px black;
}

.main-nav li:nth-child(even) {
    border-right: solid 1px black;
}

.main-nav a {
    color: #ffffff;
    font-family: lato-bold;
    text-decoration: none;
    display: flex;
    height: 8.125em;
    width: 8.125em;
    border-bottom: solid 5px transparent;
    justify-content: center;
    align-items: center;
}

.main-nav a:hover {
    color: #58c93a;
    border-bottom: solid 5px #58c93a;
}

.menu-btn {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2.65em;
    margin-inline-start: 7.5em;
    color: whitesmoke;
    outline-style: none;
}


/* SCREENS */

.main-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000af;
    opacity: 0;
    cursor: pointer;
    transition: opacity .8s;
    visibility: hidden;
}

body.open-menu .main-screen {
    opacity: 1;
    visibility: visible;
}

body.open-menu .more-info-btn {
    z-index: -1;
}


/* card */

.card {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding: 0 10px;
}

.card>* {
    flex-basis: 50%;
}

.card-image {
    width: 100%;
    margin-bottom: 2em;
}

.card-details {
    width: 100%;
}

.more-info-btn {
    height: 2.2rem;
    border-radius: 50px;
    font-family: lato-bold;
    color: #c2c1c1;
    background-color: white;
    cursor: pointer;
    border: 2px solid #c2c2c2;
    outline-style: none;
    margin-top: 0.8em;
    margin-bottom: 1.8em;
    position: relative;
    align-self: flex-start;
    padding: 0 2em;
    transition: padding .3s;
}

.more-info-btn span {
    display: none;
}

.more-info-btn:hover::after {
    content: " →";
    position: absolute;
    right: 1em;
}

.more-info-btn:hover {
    padding-inline-end: 3em;
    color: #58c93a;
    border: 2px solid #58c93a;
}


/* PAGES NAVIGATION */

.page-navigation {
    height: 4.375em;
}

.page-btn {
    background-color: transparent;
    border: none;
    outline-style: none;
    color: #818181;
    font-family: lato-bold;
    font-size: 1.125em;
    cursor: pointer;
}


/* FOOTER */

.main-footer {
    background-color: #f8f8f8;
    border: 1px solid #e1e0e0;
}

.footer-container {
    height: 100%;
}

.footer-container img {
    margin-top: 5rem;
    margin-bottom: 2em;
}

.footer-container small {
    margin-bottom: 2em;
}

.rights-txt {
    color: #a6a6a6;
    font-size: 0.6125rem;
}

.rights-txt span {
    font-family: lato-bold;
    color: #939292;
}


/* ICONS */

.fa {
    padding: 8px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin-inline-end: 5px;
    margin-bottom: 5rem;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* HELPERS  */


/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-items-center {
    align-items: center;
}

.flex.justify-content-center {
    justify-content: center;
}

.flex.flex-direction-cul {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}


/* list-helpers */

.list-clean {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media(max-width:760px) {
    body .main-nav {
        position: fixed;
        left: calc(50vw - 20.225rem/2);
        top: 84px;
        max-height: 0;
        background-color: rgb(231 231 231 / 97%);
        flex-direction: column;
        font-size: 1em;
        overflow: hidden;
        transition: all .8s;
        /* transform: translate(0, -100%); */
        /* height: 28rem; */
    }
    .main-header {
        position: fixed;
        height: 5.825em;
        width: 100%;
        z-index: 1;
    }
    .main-nav a {
        color: rgb(15, 15, 15);
        ;
        width: 20.225rem;
        border-bottom: black solid 1px;
    }
    .main-nav li:first-child {
        border-left: none;
        border-right: none;
    }
    .main-nav li:last-child {
        border-left: none;
    }
    .main-nav li:nth-child(even) {
        border-right: none;
    }
    body.open-menu .main-nav {
        /* transform: translate(0, 0); */
        max-height: 100%;
    }
    .nav-div {
        height: 100%;
    }
    .menu-btn {
        display: block;
    }
    .main-nav li a:hover {
        color: rgb(92, 88, 64);
        border-bottom: 3px solid #141414;
    }
}


/* .card-container {
    /* margin-bottom: 5em; */


/* } */

@media (min-width: 760px) {
    body {
        font-size: 0.75rem;
    }
    .main-layout {
        max-width: 680px;
    }
    .card {
        flex-direction: row;
        padding: 0;
        padding-bottom: 5rem;
    }
    .card-image {
        width: 50%;
        margin-bottom: 0;
    }
    .card-details {
        padding-left: 2.5em;
        padding-right: 1.25em;
    }
    .page-navigation {
        border: 1px solid #e1e0e0;
    }
    .more-info-btn {
        margin: 0;
    }
    .card-container {
        border-left: 1px solid #e1e0e0;
        border-right: 1px solid #e1e0e0;
    }
}

@media(min-width:960px) {
    body {
        font-size: 1rem;
    }
    .main-layout {
        max-width: 980px;
    }
}